#nav-link-style-2 {
  color: #323f4b;
  font-family: Roboto;
}

#nav-link-style-3 {
  color: #323f4b;
  font-family: Roboto;
}

#nav-link-style-4 {
  color: #323f4b;
  font-family: Roboto;
}

#nav-link-style-5 {
  color: #323f4b;
  font-family: Roboto;
}

.food-munch-image {
  height: 70px;
  width: 80px;
}

.food-court-bg-image {
  background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png ');
  background-size: cover;
  height: 100vh;
}

.food-court-image-heading {
  color: white;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 300;
}

.food-court-image-para {
  color: #f5f7fa;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
}

.button-1 {
  background-color: #d0b200;
  color: white;
  border-radius: 9px;
  height: 45px;
  width: 130px;
  margin-right: 10px;
  border-width: 0px;
}

.button-2 {
  color: #d0b200;
  border-style: solid;
  border-width: 2px;
  border-radius: 9px;
  background-color: transparent;
  border-color: #d0b200;
  height: 45px;
  width: 130px;
}

.wcu-main-section {
  background-color: #f9fbfe;
}

.wcu-head {
  font-weight: 700;
  font-family: Roboto;
  color: #183b56;
  font-size: 28px;
}

.wcu-para {
  font-family: Roboto;
  font-size: 16px;
  color: #5a7184;
}

.wcu-card-1 {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #e5eaf4;
  border-radius: 16px;
}

.image-1-wcu {
  height: 90px;
  width: 80px;
}

.card-wcu-font-head {
  font-family: Roboto;
  font-weight: 500;
  color: #323f4b;
  font-size: 22px;
}

.card-wcu-font-para {
  font-family: Roboto;
  color: #7b8794;
  font-size: 16px;
}

.offers {
  font-weight: 600;
  font-style: italic;
  color: #323f4b;
}

.wcu-main-section {
  background-color: #f9fbfe;
}

.wcu-head {
  font-weight: 700;
  font-family: Roboto;
  color: #183b56;
  font-size: 28px;
}

.wcu-para {
  font-family: Roboto;
  font-size: 16px;
  color: #5a7184;
}

.wcu-card-1 {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #e5eaf4;
  border-radius: 16px;
}

.image-1-wcu {
  height: 90px;
  width: 80px;
}

.card-wcu-font-head {
  font-family: Roboto;
  font-weight: 500;
  color: #323f4b;
  font-size: 22px;
}

.card-wcu-font-para {
  font-family: Roboto;
  color: #7b8794;
  font-size: 16px;
}

.offers {
  font-weight: 600;
  font-style: italic;
  color: #323f4b;
}

.explore-main-section {
  background-color: white;
}

.explore-heading {
  color: #183b56;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
}

.image-main-container {
  border-radius: 16px;
}

.image-details {
  border-radius: 16px;
}

.title-heading {
  color: #323f4b;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  margin-top: 20px;
}

.menu-link {
  color: #d0b200;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500px;
}

.healthy-food-section {
  background-color: #f9fbfe;
}

.healthy-food-section-img {
  width: 270px;
}

.healthy-food-section-heading {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 28px;
  color: #183b56;
}

.healthy-food-section-description {
  color: #5a7184;
  font-family: 'Roboto';
  font-size: 16px;
}

.custom-button {
  width: 130px;
  height: 45px;
  color: white;
  background-color: #d0b200;
  border-width: 0;
  border-radius: 8px;
  margin-right: 10px;
}

.delivery-and-payment-section-img {
  width: 270px;
}

.delivery-and-payment-section-heading {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 28px;
  color: #183b56;
}

.delivery-and-payment-section-description {
  color: #5a7184;
  font-family: 'Roboto';
  font-size: 16px;
}

.payment-card-img {
  width: 50px;
  height: 50px;
  margin-right: 28px;
}

.thanking-customers-section {
  background-image: linear-gradient(#b0b200, #a58d00);
}

.thanking-customers-section-heading {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 28px;
  color: #183b56;
}

.thanking-customers-section-description {
  color: #5a7184;
  font-family: 'Roboto';
  font-size: 16px;
}

.thanking-customers-section-img {
  width: 270px;
  margin-bottom: 20px;
}

.thankyou-section-model-title {
  color: #d0b200;
  font-weight: 800;
}

.follow-us-section {
  background-color: white;
}

.follow-us-section-heading {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 28px;
  color: #183b56;
  text-align: center;
}

.icon-details {
  color: #d0b200;
  font-size: 35px;
}

.background-icon {
  background-color: #faf7ea;
  width: 80px;
  height: 80px;
  padding-top: 22px;
  padding-bottom: 14px;
  padding-left: 22px;
  padding-right: 16px;
  margin: 15px;
  border-radius: 40px;
}

.food-munch-logo {
  width: 80px;
  height: 70px;
}

.footer-section {
  background-color: #0d2436;
}

.footer-section-mail-id {
  color: #959ead;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}

.footer-section-address {
  color: #959ead;
  font-family: 'Roboto';
  font-size: 14px;
}
